@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Browser</h1>
    <p class="lead">Look through our entire collection of movies or search by genre and title!</p>
    <p></p>
    <form action="/Home/ListMoviesByCategory" method="get">
        <h3>Category</h3>
        <select name="Category" onchange="this.form.submit()">
            <option>Select A Category</option>
            @foreach (var Category in ViewBag.Categories)
            {
                <option value="@Category">@Category</option>
            }
        </select>
    </form>
    <form action="/Home/SearchForMovieName" method="get">
        <label for="Movie Name">
            <b>Movie Name?</b>
        </label>
        <input type="text" name="MovieName" id="MovieNameId" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="container-fluid">
    @foreach (var Movie in ViewBag.ListOfMovies)
    { 
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title itemName">@Movie.Name</h3>
            </div>
            <div class="panel-body bounding-box">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="~/Content/Images/@Movie.ImgSrc" style="height:240px"/>
                </div>
                <h4 class="text-center itemDesc">@Movie.Category</h4><br />
                <a href="/Home/RateMovie?Name=@Movie.Name" class="btn btn-info" role="button">Rate</a>
                <p>@Movie.Rating</p>
            </div>
        </div>
    </div>
    }
</div>